<h1>There will be a game here!</h1>

<div id="game-area"></div>

<p><%= @game.game_word %> is the word</p>
<p><%= @game.current_word %> is what you have so far</p>
<p><%= @game.guessed_letters %> is the letters you have guessed</p>
<p><%= @game.wrong_guesses %> is how many wrong guesses you've made</p>

<%= button_to "Logout", session_url, method: :delete %>



<script src="lib/jquery-2.1.1.js"></script>
<script src="app/assets/javascripts/gameView.js"></script>
<script>
	var $el = $("#game-area");
	var View = new Hangman.GameView($el);
</script>
	